// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --ion-color-roxo: #7c3aed;
  --ion-color-roxo-contrast: #ffffff;
}

.ion-color-roxo {
  --ion-color-base: var(--ion-color-roxo);
  --ion-color-contrast: var(--ion-color-roxo-contrast);
}

ion-content {
  --padding-bottom: 80px;
}


body.dark {
  --ion-background-color: #180125;
  --ion-text-color: #ffffff;
  --ion-color-primary: #2600ff;
}


body.dark .data_publicacao p {
  color: #e6dede;
}

body.dark .titulo-registro {
  color: #ffffff;
}

body.dark .card-registro {
  background: #3b2f5a;
}

.modal-conteudo {
  --padding-top: 35px;
  --padding-bottom: 20px;
}