<ion-header [translucent]="true" class="conteudo-principal">
  <ion-toolbar>
    <div class="header-app">

      <img
        src="assets/logo.png"
        alt="Logo"
        class="logo-app">
    
        <ion-title>
          Minha Jornada
        </ion-title>

    </div>
     
    <ion-buttons slot="end">

      <ion-button
        fill="clear"
        (click)="alterarTema()">

        <ion-icon
          [name]="darkMode ? 'sunny' : 'moon'">
        </ion-icon>

      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <!-- HOME: CARD DO REGISTRO-->
  <ion-card 
    class="card-registro" 
    *ngFor="let registro of registros; let i = index"
    (click)="visualizarRegistro(registro)">
      
    <!--(click)="visualizarRegistro(registro) -->

      <!-- HOME: TÍTULO  -->
      <ion-title class="titulo-registro">
        {{ registro.titulo }} 
      </ion-title>
      
      <!-- HOME: DESCRIÇÃO -->
      <div class="preview">
        <p class="preview-texto">
          {{ registro.descricao }}
        </p>
      </div>

      <!-- HOME - DATA DE PUBLICAÇÃO-->
      <div class="data_publicacao">
        <p>Data de publicação: 
          {{ registro.data | date:'dd/MM/yyyy' }}
        </p>
      </div>

      <!-- HOME: BOTÃO EDITAR-->
      <ion-button
        color="roxo"
        fill="clear"
        size="small" 
        (click)="editarRegistro(i); $event.stopPropagation()">
         <ion-icon name="create"></ion-icon>
      </ion-button>

      <!-- HOME: BOTÃO EXCLUIR-->
      <ion-button
          fill="clear"
          color="danger"
          size="small"
          (click)="deletarRegistro(i); $event.stopPropagation()">
          <ion-icon name="trash"></ion-icon>
      </ion-button>
      
  </ion-card>
  
  <!-- HOME: ICONE DO BOTÃO INCLUIR-->
  <ion-fab 
    slot="fixed" 
    vertical="bottom" 
    horizontal="end"
    edge="false">
    <ion-fab-button color="roxo" (click)="novoRegistro()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
      
  </ion-fab>

  <!-- MODAL -->
  <ion-modal [isOpen]="isModalOpen" (didDismiss)="fecharModal()">
    
    <ng-template>
      
      <!-- MODAL: TÍTULO -->
      <ion-header *ngIf="indiceEditando == null || modoVisualizacao">
        <ion-toolbar>
          <ion-title> 
            {{ titulo ? titulo : 'Novo Registro' }}
          </ion-title>
        </ion-toolbar>
      </ion-header>  

      <!-- MODAL: LAYOUT -->
      <ion-content class="ion-padding modal-conteudo">

        <!-- MODAL: CAMPO TÍTULO -->
        <ion-input
          class="campo-titulo"
          [class.campo-invalido]="erroTitulo"
          *ngIf="!modoVisualizacao"
          fill="outline"
          label="Título"
          labelPlacement="stacked"
          placeholder="Digite o título"
          [(ngModel)]="titulo"
          (ionInput)="erroTitulo = false"
          [readonly]="modoVisualizacao">
        </ion-input>

        <!-- TÍTULO: MENSAGEM DE CAMPO OBRIGATÓRIO -->
        <p *ngIf="erroTitulo" class="mensagem-erro">
          Título é obrigatório
        </p>

        <!-- MODAL: CAMPO DESCRIÇÃO -->
        <ion-textarea
          class="campo-descricao"
          [class.campo-invalido]="erroDescricao"
          *ngIf="!modoVisualizacao"
          fill="outline"
          label="Descrição"
          labelPlacement="stacked"
          placeholder="Escreva seu dia..."
          rows="6"
          autoGrow="true"
          [(ngModel)]="descricao"
          (ionInput)="erroDescricao = false"
          [readonly]="modoVisualizacao">
        </ion-textarea>

        <!-- DESCRIÇÃO: MENSAGEM DE CAMPO OBRIGATÓRIO -->
        <p *ngIf="erroDescricao" class="mensagem-erro">
          Descrição é obrigatória
        </p>

        <!-- DESCRIÇÃO: MODO VISUALIZAÇÃO -->
        <p 
        class="texto-visualizacao" 
        *ngIf="modoVisualizacao">
            {{ descricao }}
        </p>

        <!-- MODAL: LABEL DO CAMPO DATA -->
        <label class="label_data_inclusao">
           {{ modoVisualizacao ? '' : 'Selecione uma data:' }} 
        </label>

        <!-- MODAL: CAMPO DATA -->
        <input 
          class="campo_data"
          *ngIf="!modoVisualizacao"
          [class.campo-invalido]="erroData"
          type="date"  
          [(ngModel)]="data"
          (input)="erroData = false"
          [disabled]="modoVisualizacao">

        <!-- DATA: MENSAGEM DE CAMPO OBRIGATÓRIO -->
        <p *ngIf="erroData" class="mensagem-erro">
          Data é obrigatória
        </p>

        <!--MODAL: BOTÕES--> 
        <div class="botoes">

          <!-- BOTÕES: SALVAR -->
          <ion-button color="roxo" *ngIf="!modoVisualizacao" (click)="salvarRegistro()">
            Salvar
          </ion-button>

          <!-- BOTÕES: CANCELAR -->
          <ion-button color="roxo" fill="outline" (click)="fecharModal()">
            {{ modoVisualizacao ? 'Fechar' : 'Cancelar' }}
          </ion-button>

        </div>

      </ion-content>

    </ng-template>

  </ion-modal>
  
</ion-content>
